---
import NewsCard from "@/components/cards/newsCard.astro";
import { articlesHandler } from "@/lib/handlers/articles";

const articles = articlesHandler.allArticles();

// Get the latest article for each category
const latestByCategory = [];
const seenCategories = new Set();

for (const article of articles) {
  const categoryId = article.data.category.id;
  if (!seenCategories.has(categoryId)) {
    latestByCategory.push(article);
    seenCategories.add(categoryId);
  }
}
---

<section class="container pt-12 pb-0 space-y-4" data-pagefind-ignore="all">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 gap-y-6 md:grid-rows-2">
    {
      latestByCategory.map((article, index) => (
        <NewsCard article={article} index={index} />
      ))
    }
  </div>
</section>
