---
import NewsCard from "@/components/cards/newsCard.astro";
import HeaderSection from "./headerSection.astro";
import { articlesHandler } from "@/lib/handlers/articles";

const articles = articlesHandler.allArticles();
const programmingArticles = articles.filter(
  (article) => article.data.category.id === "lifestyle",
);
---

<section class="container pt-12 pb-0 space-y-4" data-pagefind-ignore="all">
  <HeaderSection
    title="Lifestyle"
    link_title="View all"
    link_url="/categories/lifestyle"
  />
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 gap-y-6 md:grid-rows-1">
    {
      programmingArticles
        .slice(1, 4)
        .map((article, index) => <NewsCard article={article} index={index} />)
    }
  </div>
</section>
